(
  {:path [:books :book :title] :text "Clojure in Action"}
  {:path [:books :book :authors :author :first-name] :text "Amit"}
  {:path [:books :book :authors :author :last-name] :text "Rathore"}
  {:path [:books :book :authors :author :first-name] :text "Francis"}
  {:path [:books :book :authors :author :last-name] :text "Avila"}
  {:path [:books :book :title], :text "The Joy of Clojure"}
  {:path [:books :book :authors :author :first-name] :text "Michael"}
  {:path [:books :book :authors :author :last-name] :text "Fogus"}
  {:path [:books :book :authors :author :first-name] :text "Chris"}
  {:path [:books :book :authors :author :last-name] :text "Houser"}
)
