(
  ({:col "/aaa/aa/a" :val "a1"} {:col "/aaa/aa/b" :val "b1"} {:col "/aaa/aa/c" :val "c1"} {:col "/aaa/aa/bb/a" :val "a2"} {:col "/aaa/aa/bb/b" :val "b2"} {:col "/aaa/aa/bb/c" :val "c2"} {:col "/aaa/aa/cc/e" :val "e1"} {:col "/aaa/aa/cc/f" :val "f1"} {:col "/aaa/aa/cc/g" :val "g1"} {:col "/aaa/aa/dd/e" :val "e2"} {:col "/aaa/aa/dd/f" :val "f2"} {:col "/aaa/aa/dd/g" :val "g2"})
  ({:col "/aaa/aa/a" :val "a1"} {:col "/aaa/aa/b" :val "b1"} {:col "/aaa/aa/c" :val "c1"} {:col "/aaa/aa/bb/a" :val "a3"} {:col "/aaa/aa/bb/b" :val "b3"} {:col "/aaa/aa/bb/c" :val "c3"} {:col "/aaa/aa/cc/e" :val "e1"} {:col "/aaa/aa/cc/f" :val "f1"} {:col "/aaa/aa/cc/g" :val "g1"} {:col "/aaa/aa/dd/e" :val "e2"} {:col "/aaa/aa/dd/f" :val "f2"} {:col "/aaa/aa/dd/g" :val "g2"})
  ({:col "/aaa/aa/a" :val "a1"} {:col "/aaa/aa/b" :val "b1"} {:col "/aaa/aa/c" :val "c1"} {:col "/aaa/aa/bb/a" :val "a2"} {:col "/aaa/aa/bb/b" :val "b2"} {:col "/aaa/aa/bb/c" :val "c2"} {:col "/aaa/aa/cc/e" :val "e1"} {:col "/aaa/aa/cc/f" :val "f1"} {:col "/aaa/aa/cc/g" :val "g1"} {:col "/aaa/aa/dd/e" :val "e2"} {:col "/aaa/aa/dd/f" :val "f2"} {:col "/aaa/aa/dd/g" :val "g2"})
  ({:col "/aaa/aa/a" :val "a1"} {:col "/aaa/aa/b" :val "b1"} {:col "/aaa/aa/c" :val "c1"} {:col "/aaa/aa/bb/a" :val "a3"} {:col "/aaa/aa/bb/b" :val "b3"} {:col "/aaa/aa/bb/c" :val "c3"} {:col "/aaa/aa/cc/e" :val "e1"} {:col "/aaa/aa/cc/f" :val "f1"} {:col "/aaa/aa/cc/g" :val "g1"} {:col "/aaa/aa/dd/e" :val "e2"} {:col "/aaa/aa/dd/f" :val "f2"} {:col "/aaa/aa/dd/g" :val "g2"})
)
