(
  (
    {:col "/aa/bb/a" :val "a1"}
    {:col "/aa/bb/b" :val "b1"}
    {:col "/aa/bb/c" :val "c1"}
    {:col "/aa/d" :val "d1"}
    {:col "/aa/cc/e" :val "e1"}
    {:col "/aa/cc/f" :val "f1"}
    {:col "/aa/cc/g" :val "g1"}
    {:col "/aa/dd/e" :val "e2"}
    {:col "/aa/dd/f" :val "f2"}
    {:col "/aa/dd/g" :val "g2"}
  )
  (
    {:col "/aa/bb/a" :val "a2"}
    {:col "/aa/bb/b" :val "b2"}
    {:col "/aa/bb/c" :val "c2"}
    {:col "/aa/d" :val "d1"}
    {:col "/aa/cc/e" :val "e1"}
    {:col "/aa/cc/f" :val "f1"}
    {:col "/aa/cc/g" :val "g1"}
    {:col "/aa/dd/e" :val "e2"}
    {:col "/aa/dd/f" :val "f2"}
    {:col "/aa/dd/g" :val "g2"}
  )
)
